.idea
.env
.prod.env
.terraform
.terraform.lock.hcl
errored.tfstate
infrastructure/templates/pgt-proxy/*.pem
infrastructure/templates/pgt-proxy/*.resolved
infrastructure/templates/pgt-proxy/docker_image_builder_*
infrastructure/templates/application/docker_image_builder_*
application/frontend/node_modules
