<nav class="flex lg:flex-row flex-col items-center justify-between pt-12 pb-6 px-8 m-0" aria-label="Global">
    <div class="flex justify-start mb-4 lg:mb-0">
        <a href="/" class="font-semibold leading-6 text-gray-900 mr-3 text-md">
            <img src="/assets/images/logo.png" class="mr-3 inline-block w-[35px]" style="transform: translateY(-3px)"/>
            FooBar Financial
        </a>
    </div>
    <div class="flex flex-row justify-center lg:justify-end">
        <a href="/user/details" class="text-sm font-semibold leading-6 text-gray-900 mx-3">User Details</a>
        <a href="/card/products" class="text-sm font-semibold leading-6 text-gray-900 mx-3">Card Products</a>
        <a href="/card/enrollments" class="text-sm font-semibold leading-6 text-gray-900 mx-3">Card Enrollments</a>
        <a href="/logout" class="text-sm font-semibold leading-6 text-gray-900 mx-3">Sign out <span aria-hidden="true">→</span></a>
    </div>
</nav>