<!DOCTYPE html>
<html>
<head>
  <title>{{locals.title}}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="icon" type="image/x-icon" href="/assets/images/favicon.webp">
</head>
<body>

<div style="min-height: 100vh">
  <div style="max-width: 900px; margin: auto">
    {{>navbar}}
  </div>

  <div style="max-width: 900px; margin: auto">
    {{{body}}}
  </div>
</div>

</body>
</html>
