<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
</head>
<body>

<div style="min-height: 100vh; display:flex; flex-flow: column">
  {{>navbar}}

  <div class="relative isolate py-10" style="flex-grow: 1; background-color: #EEE">
    {{{body}}}
  </div>
</div>

</body>
</html>
