<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<div style="min-height: 100vh; display:flex; flex-flow: column">
  {{>navbar}}

  <div class="relative isolate py-24 sm:py-32" style="flex-grow: 1; background-color: #EEE">
    {{{body}}}
  </div>
</div>

</body>
</html>
