<!DOCTYPE html>
<html>
<head>
  <title>{{locals.title}} | Example application</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="icon" type="image/x-icon" href="/assets/images/favicon.webp">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div style="min-height: 100vh; max-width: 900px; margin: auto; display: flex; flex-flow: column">
  {{>navbar}}

  <div style="flex-grow: 1" class="pt-10">
    {{{body}}}
  </div>


  <div class="max-w-7xl mx-0 py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <div class="mt-8 border-t border-gray-200 pt-8">
      <span class="flex justify-between text-gray-500 dark:text-white">
        <a href="#" class="font-medium"> Main Website</a>
        <a href="#" class="font-medium">Terms of Use </a>
        <a href="#" class="font-medium">Privacy Policy</a>
        <a href="#" class="font-medium">Contact Us</a>
      </span>

      <p class="mt-8 text-base text-gray-500">
        © 2024 Ambar Ltd. All rights reserved.
      </p>
    </div>
  </div>

</div>

</body>
</html>
