<div class="relative w-full" style="height: calc(100vh - 104px);">
    <iframe
        src="http://localhost:8080/event-bus-with-ambar-iframe"
        class="absolute w-full h-full"
        style="border: none;"
        title="Event Bus Explorer"
    ></iframe>
</div>