<?php

// https://github.com/FriendsOfPHP/PHP-CS-Fixer#config-file

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__.'/src')
    ->in(__DIR__.'/tests')
    ->notPath('bootstrap.php')
;
// Only src/bootstrap.php and tests/bootstrap.php are excluded, even though we only need to exclude tests/bootstrap.php
// See https://github.com/symfony/symfony/issues/34894 and https://github.com/symfony/symfony/issues/28158

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony' => true,
        'strict_param' => true,
        'declare_strict_types' => true,
        'phpdoc_no_empty_return' => true,
        'void_return' => true,
        'array_syntax' => ['syntax' => 'short'],
    ])
    ->setFinder($finder)
;
