includes:
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    ignoreErrors:
        -
            message: '#PHPDoc tag @throws with type Doctrine\\ODM\\MongoDB\\Mapping\\MappingException is not compatible with parent#'
            path: '%currentWorkingDirectory%/src/Kernel.php'
        -
            message: '#Call to function is_array() with string|null will always evaluate to false.#'
            path: '%currentWorkingDirectory%/src/Service/RequestMapper/JsonPostRequestMapper.php'
    exceptionRules:
        reportUnusedCatchesOfUncheckedExceptions: true
        uncheckedExceptions:
    symfony:
        container_xml_path: /symfony_tmp/cache/environment_test/srcGaleas_Api_KernelEnvironment_testDebugContainer.xml
