<!DOCTYPE html>
<html>
<head>
  <title>{{locals.title}}</title>
  <link rel="icon" type="image/x-icon" href="/assets/images/favicon.webp">
  <script src="https://cdn.tailwindcss.com"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
{{>demo-menu}}
{{{body}}}
</body>
</html>
