<!DOCTYPE html>
<html>
<head>
  <title>{{locals.title}}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="icon" type="image/x-icon" href="/assets/images/favicon.webp">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

{{>demo-menu}}

<div style="min-height: 100vh; max-width: 1050px; margin: auto; display: flex; flex-flow: column">
  {{>navbar}}

  <div style="flex-grow: 0.3" class="pt-8 px-14">
    {{{body}}}
  </div>


    <div style="flex-grow: 0.2" class="max-w-7xl mx-0 pt-2 pb-1 px-3 lg:pt-4 lg:pb-2 lg:px-6">
        <div class="mt-2 border-t border-gray-200 pt-4">
            <span class="flex justify-center gap-8 text-gray-500">
              <a href="#" class="text-sm font-medium">Terms of Use</a>
              <a href="#" class="text-sm font-medium">Privacy Policy</a>
              <a href="#" class="text-sm font-medium">Contact Us</a>
            </span>
        </div>
    </div>

</div>

</body>
</html>
