<!DOCTYPE html>
<html>
<head>
  <title>{{locals.title}} | Example application</title>
  <link rel="icon" type="image/x-icon" href="/assets/images/favicon.webp">
  <script src="https://cdn.tailwindcss.com"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">

{{{body}}}

</div>

</body>
</html>
