<div class="absolute" style="z-index:-1; width: 100%; left: 0; top: 100px">
  <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-80 dark:opacity-20">
      <div class="blur-[106px] h-56 bg-gradient-to-br from-purple-100 to-purple-400 dark:from-blue-700"></div>
      <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
  </div>
</div>
