<nav class="flex md:items-center items-start justify-between p-6 px-8 m-0 md:flex-row flex-col" aria-label="Global">
  <div class="flex flex-1 justify-start">
    <a href="/" class="font-semibold leading-6 text-gray-900 mr-3">
      <img src="/assets/images/logo.png" class="mr-3" style="display: inline-block; width: 35px; transform: translateY(-3px)"/>
      Ambar's Example Application
    </a>
  </div>
  <div class="flex flex-1 justify-end md:flex-row flex-col">
    <a href="/user/details" class="text-sm font-semibold leading-6 text-gray-900 mx-3">User Details</a>
    <a href="/logout"       class="text-sm font-semibold leading-6 text-gray-900 mx-3">Log out <span aria-hidden="true">→</span></a>
  </div>
</nav>
