default:
    gherkin:
        cache: ~

    suites:

        Identity:
            paths: ['./tests/EndToEnd/BoundedContext/Identity']
            contexts:
                - Tests\Galeas\Api\EndToEnd\BoundedContext\Identity\IdentityContext

        Security:
            paths: ['./tests/EndToEnd/BoundedContext/Security']
            contexts:
                - Tests\Galeas\Api\EndToEnd\BoundedContext\Security\SecurityContext

        Messaging:
            paths: ['./tests/EndToEnd/BoundedContext/Messaging']
            contexts:
                - Tests\Galeas\Api\EndToEnd\BoundedContext\Messaging\MessagingContext

        Library:
            paths: ['./tests/EndToEnd/BoundedContext/Library']
            contexts:
                - Tests\Galeas\Api\EndToEnd\BoundedContext\Library\LibraryContext
