parameters:
    paths:
        - src/BoundedContext
    exceptions:
        reportUncheckedExceptionDeadCatch: false
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
