parameters:
    paths:
        - src/BoundedContext
        - src/Console
        - src/JsonSchema
    exceptions:
        reportUncheckedExceptionDeadCatch: false
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
