{{>blur-background}}

<img src="/assets/images/404.svg" class="mx-auto mt-20" width="450px">
<h1 class="text-blue-500 text-2xl font-semibold text-center">404 Not Found</h1>
<p class="text-4xl font-semibold text-center my-5">Whoops! That page doesn’t exist.</p>
