<div class="absolute" style="z-index:-1; width: 100%; left: 0; top: 100px">
  <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-80 dark:opacity-20">
      <div class="blur-[106px] h-56 bg-gradient-to-br from-purple-100 to-purple-400 dark:from-blue-700"></div>
      <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
  </div>
</div>

<div class="mx-auto max-w-7xl px-6 lg:px-8 pt-32">
  <div class="mx-auto max-w-2xl lg:mx-0">
    <h2 class="text-4xl font-bold tracking-tight sm:text-6xl text-gray-700">Application Home</h2>
    <p class="mt-6 text-lg leading-8 text-gray-500">Ambar's example application home.</p>
  </div>
</div>
