<div class="sm:mx-auto sm:w-full sm:max-w-sm">
  <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign-up successful</h2>
</div>

<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
  <p class="text-center">
    {{#if locals.error}}
      Unable to verify email: <span style="color:red">{{locals.error}}</span>.
    {{else}}
      Email verified successfully. You can now <a href="/sign-in">sign-in</a>.
    {{/if}}
  </p>
</div>
